body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

a , .icon{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    line-height: 3rem;
}

.icon{
    padding-top: 1rem;
}

.nav-bar {
    display: flex;
    gap: 40px;
}

.content{
    display: flex;
    gap: 20px;
    width: 100%;
}

.cok {
    width: 40%;
}

.content-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 60px;
    margin: calc(50% -400px);
}

.nauda {
    display: flex;
    gap: 10px;
}

.pliusas {
    display: grid;
    gap: 10px;
}

.foto2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.img1 {
    padding: 30px 10px;
}

.button {
    background-color: rgb(252, 104, 129);
    padding: 20px 40px;
    line-height: 1rem;
    border-radius: 30px;
    color: white;
}